.StationList {
  width: 100%;
  height: 100vh;
  padding-bottom: 56.25%;
}

.StationList-header {
  display: flex;
  height: 20px;
  padding: 0px 0px 1% 1%;
  align-items: center;
}

.StationList-header h5{
  text-align: left;
  font-size: 90%;
  margin: 0px;
}

.StationList-header img {
  width: auto;
  height: 100%;
  margin-left: 0.5%;
  cursor: pointer;
}

.StationList-items {
  display: grid;
  gap: 1em;
  background-color: #242424;
  padding: 5%;
  list-style-type: none;
}

@media screen and (min-width: 0px) {
  .StationList-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 400px) {
  .StationList-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .StationList-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .StationList-items {
    grid-template-columns: repeat(4, 1fr);
  }
}