.StationList {
  --qty: 1;
  --item-width: 180px;
  --item-padding: 0.75em;
  --item-gap: 0.75em;

  width: calc(var(--item-width) * var(--qty) + (var(--qty) - 1) * var(--item-gap) + 2 * var(--item-padding)); /* Adjusted width calculation to include gap */
  max-width: 100%;
  border-radius: 10px;
  background-color: #242424;
}

.StationList-header {
  display: flex;
  padding-top:  var(--item-padding);;
  padding-left: var(--item-padding);
  padding-right: var(--item-padding);
  height: 60px;
  align-items: center;
}

.StationList-header h5 {
  text-align: left;
  font-size: 90%;
  margin: 0;
}

.StationList-header img {
  width: auto;
  height: 100%;
  margin-left: 0.5%;
  cursor: pointer;
}

.StationList-items {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(var(--qty), 1fr); /* Use var(--qty) for dynamic columns */
  gap: var(--item-gap);
  padding-left: var(--item-padding);
  padding-right: var(--item-padding);
}

.StationList-items li {
  padding: 0;
  width: var(--item-width);
  font-size: 16.5px;
}
@media screen and (min-width: 0px) {
  .StationList {
    --qty: 1;
  }
}

@media screen and (min-width: 450px) {
  .StationList {
    --qty: 2;
  }
}

@media screen and (min-width: 600px) {
  .StationList {
    --qty: 3;
  }
}

@media screen and (min-width: 850px) {
  .StationList {
    --qty: 4;
  }
}

@media screen and (min-width: 1100px) {
  .StationList {
    --qty: 5;
  }
}